name: PHP Composer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]
        laravel: [10.*, 11.*, 12.*]
        exclude:
          - php: 8.2
            laravel: 12.*
          - php: 8.4
            laravel: 10.*
          - php: 8.5
            laravel: 10.*

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP ${{ matrix.php }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: pcov
        coverage: pcov

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-${{ matrix.php }}-laravel-${{ matrix.laravel }}-
          ${{ runner.os }}-php-${{ matrix.php }}-
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: |
        composer require "laravel/framework:${{ matrix.laravel }}" --no-update --no-interaction
        composer update --prefer-dist --no-progress --no-interaction

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test

    - name: Run test suite
      run: composer run-script test

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage/clover.xml
        fail_ci_if_error: true

    - name: Run Laravel Pint
      run: composer run-script lint

    - name: Run PHPStan analysis
      run: composer run-script analyse
